.container {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 8rem;
    max-height: max-content;
    gap: 10px;
}

.text__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.image__container {
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(0, 40, 83, 1);
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__container img {
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.heading {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.92);
}

.wave {
    animation: wave-animation 2.1s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 3.875rem;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.default {
    font-size: 2rem;
    font-weight: 800;
}

.text__container p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;
    color: var(--color-text);
    margin: 24px 0 8px 0;
}

/* Button Hover */
.btn {
    position: relative;
    display: inline-flex;
    max-width: fit-content;
    padding: 10px 30px;
    background: transparent;
    border-radius: 8px;
    border: 2px solid #2196f3;
    color: rgba(255, 255, 255, 0.92);
    text-decoration: none;
    letter-spacing: 2px;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #2196f3;
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
    width: 9rem;
    height: 9rem;
}

.sectionDivider {
    width: 64px;
    height: 6px;
    border-radius: 10px;
    background-color: #fff;
    /* background: linear-gradient(270deg, #F46737 0%, #945DD6 100%); */
    background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
    margin: 48px 0;
}

/* About */
.container__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 4rem 8rem;
    gap: 50px;
    max-height: fit-content;
}

.box {
    display: flex;
    width: 100%;
    min-width: 300px;
    flex-direction: column;
    background-color: #252a33;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    flex-wrap: wrap;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

.dot__container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 8px 0 0;
}

.dot:nth-child(1) {
    background-color: #d9515d;
}

.dot:nth-child(2) {
    background-color: #f4c025;
}

.dot:nth-child(3) {
    background-color: #3ec930;
}

.box__heading {
    text-align: center;
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-family);
    font-size: 1.4rem;
}

.box__content {
    padding: 25px;
    line-height: 2rem;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    text-align: center;
}

.languages {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: fit-content;
}

.language__heading {
    text-align: center;
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-family);
    font-size: 1.8rem;
    font-weight: 600;
}

.circle__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-top: 15px solid #2196f3;
    border-right: 15px solid #945DD6;
    border-bottom: 15px solid #d9515d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.8s;
}

.circle:hover {
    /* transform: rotate(360deg); */
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.customDivider {
    width: 85%;
    height: 2px;
    border-radius: 10px;
    background-color: #fff;
    background: linear-gradient(270deg, #F46737 0%, #945DD6 100%);
    /* background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%); */
    margin: 20px auto;
}

.container__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 4rem 8rem;
    width: 100%;
    max-height: fit-content;
}

.projects__heading {
    text-align: center;
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-family);
    font-size: 2.8rem;
    font-weight: 800;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-height: fit-content;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.project__card {
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.5);
    text-align: center;
    max-width: 400px;
    min-width: 300px;
    transition: 0.3s;
    position: relative;
}

.project__card:hover {
    box-shadow: 3px 3px 20px rgba(80, 78, 78, 1);
    transform: scale(1.05);
}

.project__card img {
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 100%;
}

.titleContent {
    text-align: center;
    width: 100%;
}

.hr {
    width: 50px;
    height: 3px;
    margin: 20px auto;
    border: 0;
    border-radius: 10px;
    /* background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%); */
    background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
}

.cardInfo {
    width: 100%;
    padding: 0 40px 20px 40px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: justify;
}

.stack {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

.tagList {
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem 2rem 2rem;
    list-style: none;
}

.tag {
    color: #d8bfbf;
    font-size: 1.3rem;
}

.utilityList {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0 0.5rem 1.5rem 0.5rem;
}

.contact__container {
    width: 100%;
    max-height: fit-content;
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__box__content {
    padding: 25px;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1.1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.contact__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    width: 50%;
    flex-wrap: wrap;
}

.links {
    display: flex;
    flex-direction: column;
}

.linkTitle {
    font-style: italic;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 3px;
}

.linkItem {
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 16px;
    transition: 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.linkItem:hover {
    color: #fff;
    transform: scale(1.05);
}

.contact__media__links {
    display: flex;
    justify-content: space-evenly;
    min-width: 250px;
    width: 500px;
}

.contact__media__links i {
    font-size: 2.2rem;
    color: #13ADC7;
    transition: 0.5s;
}

.contact__media__links i:hover {
    color: #945DD6;
    transform: rotate(360deg) scale(1.5);
}


/* Media */

@media screen and (max-width: 1386px) {
    .contact__media__links {
        width: 100%;
    }

    .contact__box {
        width: 100%;
    }
}

@media screen and (max-width: 1181px) {
    .heading {
        font-size: 2.5rem;
    }

    .gradient__text {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1086px) {
    .heading {
        font-size: 2.2rem;
    }

    .gradient__text {
        font-size: 2.8rem;
    }

    .text__container p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1039px) {
    .heading {
        font-size: 2.2rem;
    }

    .gradient__text {
        font-size: 2.7rem;
    }

    .text__container p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1039px) {
    .image__container {
        margin: 0 auto;
    }

    .heading {
        font-size: 2.8rem;
    }

    .gradient__text {
        font-size: 3rem;
    }

    .text__container p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 678px) {
    .container {
        padding: 3rem 2rem;
    }

    .container__about {
        padding: 3rem 2rem;
    }

    .container__projects {
        padding: 3rem 2rem;
    }

    .contact__container {
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 479px) {
    .heading {
        font-size: 2.5rem;
    }

    .gradient__text {
        font-size: 2.8rem;
        line-height: 60px;
    }

    .cardInfo {
        padding: 0 20px 20px 20px;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
}

@media screen and (max-width: 464px) {
    .linkTitle {
        font-size: 14px;
    }

    .linkItem {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .contact__box__content {
        padding: 10px;
    }
}

@media screen and (max-width: 404px) {
    .circle {
        font-size: 1rem;
        width: 120px;
        height: 120px;
    }

    .contact__box__content {
        padding: 5px;
    }
}

@media screen and (max-width: 344px) {
    .circle {
        font-size: 0.8rem;
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 324px) {
    .gradient__text {
        font-size: 2.5rem;
        line-height: 60px;
    }
}